/* universal  */
* {
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bg-custom {
    background-color: #11529c;
    color: #ffe;
}

.bg-custom1 {
    background-color: #ccd3de;
    color: #000;
}

.btn:hover {
    background-color: #11529c;
    color: #ffe;
}

/* chat history  */
.list-active {
    background-color: rgba(240, 242, 240, 0.8) !important;
}

.chat_history_list li:hover {
    background-color: rgba(240, 242, 240, 0.8);
}


#chat_history {
    height: 80vh;
}

#chat_history_container {
    display: none;
}

@media(max-width : 768px) {
    #chat_history_container {
        display: none;
    }
    .active {
        position: absolute;
        z-index: 100;
    }
    #prompt {
        width: 100% !important;
    }
    .prompt-button {
        width: 45%;
    }
}