@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
@font-face {
    src: url('/fonts/MyanmarSansPro-Regular.eot'); 
    src: url('/fonts/MyanmarSansPro-Regular.eot?#iefix') format('embedded-opentype'), 
         url('/fonts/MyanmarSansPro-Regular.woff2') format('woff2'),
         url('/fonts/MyanmarSansPro-Regular.woff') format('woff'), 
         url('/fonts/MyanmarSansPro-Regular.ttf')  format('truetype'),
         url('/fonts/MyanmarSansPro-Regular.svg#svgFontName') format('svg');
      font-family:'Myanmar Sans Pro';
}
/* universal  */
*   {
    font-family: 'Myanmar Sans Pro', 'Poppins' sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.myanmar-font {
    font-family: 'Myanmar Sans Pro';
}

.text-mute {
    color: #afafaf;
}

.bg-mute {
    background-color: #464444;
}

.text-gray {
    color: #898d91 ;
}

.text-custom {
    color: #11529c !important;
}

.bg-custom {
    background-color: #11529c !important;
    color: #ffe !important;
}

.bg-custom1 {
    background-color: #ccd3de !important;
    color: #000 !important;
}

.btn:hover {
    background-color: #11529c !important;
    color: #ffe !important;
}
/* data container  */

.data-container  p {
    font-family: 'Myanmar Sans Pro';
}

.data-container i {
    font-size: 12px;
}

/* navbar  */

#navbarNav ul li {
    margin-left: 10px;
    font-size: 15px;
}

.nav-link {
    font-weight: 500 !important;
    color: #000 !important;
}

.navbar-collapse {
    margin-left: 15em;
}

.nav-item .btn:hover .fa-user {
    color: #fff !important;
}

/* home container  */

.home-container {
    background-image: url('/img/page.png');
    background-color: #303843;
    z-index: 2;
    font-size: 18px;
    padding: 10px 50px;
    margin-top: 10px;
}

/* chat history  */
.list-active {
    background-color: rgba(240, 242, 240, 0.8) !important;
}

.chat_history_list li:hover {
    background-color: rgba(240, 242, 240, 0.8);
}

#chat_history {
    background-color: #fff;
    border-radius: 5px;
}


#chat_history {
    height: 80vh;
}

/* ads */
.splide__slide {
    opacity: 0.4;
  }
  
  .splide__slide.is-active {
    opacity: 1;
  }
  .splide_slide, li:hover{
    opacity: 1;
  }

/* footer  */
.block-footer {
    background-color: rgba(0,0,0,0.95);
    background-image: url('/img/footer-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.footer-widgets {
    padding: 60px 0;
    color: #a9a9a9;
}

.block-footer .footer-menu-wrapper {
    position: relative;
}

.block-footer .footer-menu-wrapper ul {
    margin: 0;
    padding: 27px 0 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

/* .block-footer .footer-additional-menu .container-fluid {
    background-color: #101010;
    border: 1px solid #000;
    border-bottom: 0 none;
} */

.block-footer .footer-copyright {
    padding: 20px;
    text-align: center;
    background-color: #101010;
    font-size: 12px;
    border-top: 2px solid #000;
    margin-top: -2px;
    color: #a9a9a9;
}

.footer-copyright p {
    margin-bottom: 0 !important;
}

.list-inline {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.btn-facebook {
    color: #fff !important;
    background-color: #3b5a9b !important;
    border-color: #375490 !important;
    margin-right: 5px;
}

.btn-googleplus {
    color: #fff !important;
    background-color: #db2814 !important;
    border-color: #cd2513 !important;
    margin-right: 5px;
}

.btn-twitter {
    color: #fff !important;
    background-color: #2b97f0 !important;
    border-color: #1d90ef !important;
    margin-right: 5px;
}

.btn-social {
    padding: 10px;
    border-radius: 5px;
}


#ServicesMenuList, #SupportMenuList {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
}

#ServicesMenuList li, #SupportMenuList li {
    margin: 10px 0px;
}

#ServicesMenuList li a, #SupportMenuList li a  {
    color: #a9a9a9;
    text-decoration: none;
}

/* modal  */

.modal {
    top : 30% !important;
    --bs-modal-width : 300px !important;
}

/* ad image  */

.ad-image {
    width: 250px !important;
    height: 100px !important;
    padding: 10px !important;
}

.navbar-brand {
    width: 25%;
}

.navbar-img {
    width: 50%;
}


@media(max-width : 992px) {
    #chat_history_container {
        display: none;
    }
    .active {
        position: absolute;
        left: 0;
        z-index: 100;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #prompt {
        width: 100% !important;
    }
    .prompt-button {
        width: 45%;
    }

    .data-container {
        height: 60vh !important;
    }
    
    .data-container {
        height: 100vh !important;
    }

    .navbar-collapse {
        /* height: 100vh; */
        margin-left: 0;
    }

    .navbar-toggler {
        padding: 5px 10px !important;
    }

    .modal-backdrop {
        /* background-color: transparent !important; */
        z-index: 20 !important;
    }

    .home-container {
        padding: 10px 5px;
    }

    .data-container i {
        font-size: 10px;
    }

    .data-container p, #loading {
        font-size: 14px;
    }

    .ad-image {
        width: 180px !important;
        padding: 5px !important;
    }
    .navbar-brand {
        width: 50% !important;
    }

    .navbar-img {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width : 1024px) {
    .navbar-expand-lg .navbar-collapse {
        margin-left: 5em;
    }

    .navbar-expand-lg .navbar-collapse a {
        font-size: 12px;
    }

    #new_conversation {
        font-size: 12px !important;
    }

    .sidebar-item a {
        font-size: 12px !important;
    }
    
    .ad-image {
        width: 150px !important;
        padding: 5px !important;
    }
}

@media (min-width: 1026px) and (max-width : 1400px) {
    .navbar-expand-lg .navbar-collapse {
        margin-left: 7em;
    }

    .navbar-expand-lg .navbar-collapse a {
        font-size: 14px;
    }

    .ad-image {
        width: 200px !important;
        padding: 5px !important;
    }
    
}

/* scroll bar  */

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  